<!DOCTYPE html>
<html>
<head>
   <!-- Required meta tags-->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="theme-color" content="#2196f3">
   <title>定时器</title>
   <link rel="stylesheet" href="css/app.css">
</head>
<body>
   <div class="body">
      <h3 class="am-text-center">定时器</h3>
      <div class="content" id="content"></div>
   </div>
   <div>
      <input id="switch" type="button" value="开关" onclick="switchOnclick()">
   </div>
   <!-- templates --> 
   <script type="text/x-tmpl" id="tmpl-main">
      <div class="content">
         <table class="am-table">
            <thead>
               <tr>
                  <th>序号</th>
                  <th>名称</th>
                  <th>启动时间</th>
                  <th>关闭时间</th>
                  <th>设备号</th>
               </tr>
            </thead>
            <tbody>
               {% for(var i=0; i<o.items.length; i++) { %} <tr>
                  <td>{%=i+1%}</td>
                  <td>{%=o.items[i].title%}</td>
                  <td>{%=o.items[i].time0%}</td>
                  <td>{%=o.items[i].time1%}</td>
                  <td>{%=o.items[i].deviceId%}</td>
                  </tr>
               {% } %}
            </tbody>
         </table>
      </div>
   </script>
   <script type="text/x-tmpl" id="tmpl-add">
      <div class="content">
         <table class="am-table">
            <thead>
               <tr>
                  <th>序号</th>
                  <th>名称</th>
                  <th>启动时间</th>
                  <th>关闭时间</th>
                  <th>设备号</th>
               </tr>
            </thead>
            <tbody>
               {% for(var i=0; i<o.items.length; i++) { %} <tr>
                  <td>{%=i+1%}</td>
                  <td>{%=o.items[i].title%}</td>
                  <td>{%=o.items[i].time0%}</td>
                  <td>{%=o.items[i].time1%}</td>
                  <td>{%=o.items[i].deviceId%}</td>
                  </tr>
               {% } %}
            </tbody>
         </table>
      </div>
   </script>
   <script type="text/javascript" src="js/tmpl.js"></script>
   <script type="text/javascript">
      var data = [
        {
            title: "灯光",
            time0: "07:00:00",
            time1: "09:00:00",
            deviceId: 0,
        },{
            title: "灯光",
            time0: "17:00:00",
            time1: "21:00:00",
            deviceId: 0,
        }
      ];
      document.getElementById("content").innerHTML = tmpl("tmpl-main", { items: data });
      var btnStatus = false
      function switchOnclick() {
         document.getElementById("switch").disabled = true
         var success = function() {
            document.getElementById("switch").disabled = false
            btnStatus = !btnStatus
         }
         var fail = function() {
            document.getElementById("switch").disabled = false
         }
         var request = new XMLHttpRequest(); // 新建XMLHttpRequest对象
            request.onreadystatechange = function () { // 状态发生变化时，函数被回调
               if (request.readyState === 4) { // 成功完成
                  // 判断响应结果:
                  if (request.status === 200) {
                     // 成功，通过responseText拿到响应的文本:
                     return success(request.responseText);
                  } else {
                     // 失败，根据响应码判断失败原因:
                     return fail(request.status);
                  }
               } else {
                  // HTTP请求还在继续...
               }
            }
         request.open('GET', '/api.lua?switch=' + (btnStatus?'on':'off'));
         request.send();
      }
   </script> 
</body>

</html>